body {
    background-color: #282c34;
    color: white;
    
    font-family: Arial;
    margin  :0;
    
    /* text-align: center; */
  }
  /* input {
    font-display:Bold;
    margin-top:20px;
    color: violet;
    font-family:Arial;
    text-align:center;
  } */
  .search{
    size:15;
    height:5vh;
    width:39%;
    font-size: medium;
    margin-top: 20px;
}
  
.WhatButton{
  size:20;
  display : flex;
  height:10vh;
  width:40%;
  margin-top:20px;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size:  30px;;
  background-color:#9965a1;
  border-radius:15;
  box-shadow:rgba(0, 0, 0, 1) 0px 5px 15px;
}
    


.WhatButton:hover{
  cursor: pointer;
} 
.submitButton{
  size:20;
  display : flex;
  height:5vh;
  width:48%;
  margin-top:20px;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size:  10px;
  background-color:#9965a1;
  border-radius:15;
  box-shadow:rgba(0, 0, 0, 1) 0px 5px 15px;
}
.add{
  size:15;
    height:5vh;
    width:39%;
    font-size: medium;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    /* flex-direction: row; */
}
.removeButton{
  size:20;
  display : flex;
  height:5vh;
  width:48%;
  margin-top:20px;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size:  10px;
  background-color:grey;
  border-radius:15;
  box-shadow:rgba(0, 0, 0, 1) 0px 5px 15px;
}
.Remove{
  size:20;
  display : flex;
  height:5vh;
  width:48%;

  flex-direction:row;
  justify-content:center;
  align-items:center;
  font-size:  10px;
  background-color:whitesmoke;
  border-radius:15;
  box-shadow:rgba(0, 0, 0, 1) 0px 5px 15px;
}
 .foot{
  size:15;
    height:7vh;
   
    width:39%;
    font-size: medium;
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: grey;
    align-items: center;
    padding : 0.3%;
} 